<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <head th:fragment="head(extraStyles)">
        <title>Las Orquideas CR</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> 
        <script th:src="@{/js/rutinas.js}"></script>
        <link rel="stylesheet" th:href="@{/CSS/estilos.css}"/>

<!-- Estilos extra definidos por vistas -->
<th:block th:replace="${extraStyles}" />
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a th:href="@{/}"><img th:src="@{/Img's/Logo_Orquideas.png}" alt="Logo Orquideas"/></a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a th:href="@{/templates/habitaciones}">Habitaciones</a></li>
                    <li><a th:href="@{/energias/lista}" class="nav-menu-link">Energías Renovables</a></li>
                    <li><a th:href="@{/templates/preguntasFrecuentes}">Preguntas Frecuentes</a></li>
                    <li><a th:href="@{/templates/blog}">Blog</a></li>
                    <li><a th:href="@{/templates/imagenes}">Imágenes</a></li>
                </ul>            
            </nav>
            <a class="boton" th:href="@{/templates/contacto}"><button>Contacto</button></a>
        </header>
        

        <footer class="pie-pagina">
            <div class="pie-pagina-superior">
                <div class="contenedor">
                    <figure>
                        <a th:href="@{/}">
                            <img th:src="@{/Img's/Logo_Orquideas.png}" alt="Logo Orquideas"/>
                        </a>
                    </figure>
                </div>
                <div class="contenedor">
                    <h2>SOBRE NOSOTROS</h2>
                    <div class="separadores">
                        <a th:href="@{/templates/habitaciones}">Habitaciones</a> | 
                        <a href="energias_renovables.html">Energias Renovables</a> | 
                        <a th:href="@{/templates/preguntasFrecuentes}">Preguntas Frecuentes</a> <br/> | 
                        <a th:href="@{/templates/blog}">Blog</a> | 
                        <a th:href="@{/templates/imagenes}">Imagenes</a> |
                        <a href="contactanos.html">Contactanos</a>
                    </div>
                </div>  
                <div class="contenedor">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="https://wa.me/+50686641703"><img th:src="@{/Img's/Whats.png}" alt="WhatsApp Logo"/></a>
                        <a href="https://www.instagram.com/hotellasorquideas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img th:src="@{/Img's/Insta.png}" alt="Instagram Logo"/></a>
                        <a href="#/"><img th:src="@{/Img's/Face.png}" alt="Facebook Logo"/></a>
                        <a href="#"><img th:src="@{/Img's/Tiktok.png}" alt="TikTok Logo"/></a>
                    </div>
                </div>
            </div>
            <div class="pie-pagina-inferior">
                <small>&copy; 2025 <b>Las Orquideas CR</b> - Todos los Derechos Reservados.</small>
            </div>
        </footer>
    </body>
</html>
