<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head(~{::link})">
    <title>Energías Renovables</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/estilosEnergiasRenovables.css}" />
</head>

<body>
    <header th:replace="~{layout/plantilla :: header}" />

    <section class="contenedor-renovable">
        <h2>Lista de Energías Renovables</h2>
        <button sec:authorize="hasRole('ADMIN')" onclick="abrirModalAgregar()">Agregar nueva energía</button>

        <section th:replace="~{EnergiasRenovables/fragmentos :: listaEnergias}" />
    </section>

    <section th:replace="~{EnergiasRenovables/fragmentos :: modalAgregar}" />
    <section th:replace="~{EnergiasRenovables/fragmentos :: modalEditar}" />

    <footer th:replace="~{layout/plantilla :: footer}" />
    <script th:src="@{/js/EnergiasRenovables.js}"></script>
</body>
</html>
