<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Proyecto - Grupo #7</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/CSS/plantilla.css}"/>


        <!-- Insertar contenido de la plantilla sin sobrescribir -->
        <th:block th:insert="~{layout/plantilla :: head}"/>

    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <!-- esta es el main-section aca esta la portada -->
        <section class="main-section" style="background-image: url(/static/Img's/FondoDesenfocado.jpg)">
            <div class="hero-text">
                <h2 style="color: white">Blog</h2>
            </div>
        </section>


        <!-- esta es la seccion "descubre el encanto de nuestro hotel" -->
        <section class="section-testimonios">
            <h2 class="section-testimonios-title text-center">
                Evangelia Gonzalez visita el hotel Las Orquideas
            </h2>

            <div class="container d-flex justify-content-center">
                <div class="row g-0 bg-body-secondary position-relative">
                    <!-- Contenedor de imagen -->
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <img th:src="@{\Img's\tiktokphoto.jpg}" class="w-50 mb-5" alt="50">
                    </div>

                    <!-- Contenedor de texto -->
                    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center text-center">
                        <h5 class="mt-0">La famosa tiktoker “al infinitoo”</h5>
                        <p>
                            Una famosa tiktoker argentina realizó un recorrido por Costa Rica con su patineta y visitó varios 
                            destinos del país. Uno de los lugares que más la cautivó fue el hotel Las Orquídeas, donde quedó 
                            encantada con las modernas instalaciones y la atención excepcional del personal.
                        </p>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </section>




        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>