<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Proyecto - Grupo #7</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/CSS/plantilla.css}"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <!-- esta es el main-section aca esta la portada -->
        <section class="main-section-imagen2">
            <div class="hero-text">
                <h2 style="color: white" th:text="${cabina.nombre}">Cabina</h2>
            </div>
        </section>


        <!-- esta es la seccion "descubre el encanto de nuestro hotel" -->
        <section class="section-testimonios container mt-4">
            <div class="row">
                <!-- Columna izquierda con imagen y nombre -->
                <div class="col-md-8">
                    <div class="header-bg mb-3">
                        <h4 class="mb-0" th:text="${cabina.nombre}">Nombre</h4>
                        <button class="btn btn-light">Reservar</button>
                    </div>

                    <!-- Imagen principal -->

                    <!-- Galería de imágenes adicionales -->
                    <div class="row g-2 img-grid mb-3" th:if="${cabina.galeriaImagenes != null}">
                        <div class="col-6" th:each="img : ${cabina.galeriaImagenes.split(',')}">
                            <img th:src="@{${img}}" class="custom-imghabitacion" alt="Imagen adicional"/>
                        </div>
                    </div>
                </div>

                <!-- Columna derecha con información -->
                <div class="col-md-4">
                    <br>
                    <br>   
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="info-box">
                        <p><strong>Información:</strong></p>
                        <p><strong>Contamos con diferentes opciones:</strong></p>
                        <p th:utext="${#strings.replace(cabina.precio, '\n', '<br/>')}"></p>
                        <p><strong>Cuenta con:</strong></p>
                        <p th:text="${cabina.descripcion}">Descripción</p>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>