<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Proyecto - Grupo #7</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/CSS/plantilla.css}"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>



        <!-- esta es el main-section aca esta la portada -->
        <section class="main-section" style="background-image: url(..src\main\resources\static\Img's\IMG-20250312-WA0067.jpg) ">
            <div class="hero-text">
                <h2 style="color: white">Galeria de Imagenes</h2>
            </div>
        </section>


        <!-- esta es la seccion "descubre el encanto de nuestro hotel" -->
        <section class="descubre-encanto-section">
            <h2>Descubre el encanto de nuestro hotel</h2>
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="Img's\Imagenes Home\section habitaciones\sectionhabitacionescasafamiliar.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="Img's\Imagenes Home\section habitaciones\sectionhabitacionesestudio.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="Img's\IMG-20250312-WA0055.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>



        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>